@import "../Layout/base.scss";

.relative-hero {
    height: 100vh;
    position: relative;
}

.svg-hero-background {
    width: 100%;
    height: 100%;
    position: absolute;
}

.hero-text-title.show {
    z-index: 4;
}