
@import "../Layout/base.scss";

.hero-text-title {
    @include sansserif();
    font-size: 3rem;
    font-weight: 300;
}

.hero-text-title.hide {
    color: $orange-light-2;
}

.hero-text-subtitle {
    color: $orange-light-2;
}

.highlight-text {
    color: $light;
    // color: $orange-light-2;
    font-weight: 800;
    z-index: 4;
}