.boxLg {
    margin-top: 64px;
    margin-bottom: 64px;
}

.boxLgImageOnly {
    position: relative;
    height: 70vh;
    width: 100%;
    /* display: flex; */
    /* align-items: flex-start;
    justify-content: space-between; */
    background-size: cover;
  }  

.boxLgImageAndText {
    position: relative;
    overflow: visible;
    margin: 0;
    display: flex;
    width: 100%;
    /* padding-top: 64px;
    padding-bottom: 64px; */
}

.flexChild {
  /* flex: 1 1 0; */
  height: 100%;
  width: 40%;
}

.ImageLgRight {
    position: absolute;
    right: 0;
    top: 64px;
    height: 700px;
    width: 50%;
    background-size: cover;
    margin-right: -96px;
  }

  .ImageLgLeft {
    position: absolute;
    top: 64px;
    left: 0;
    height: 700px;
    width: 50%;
    margin-left: -96px;
    /* backgroundImage: `url(${LookImageTwo})`, */
    background-size: cover;
  };

  .boxLgWithSmCards {
    position: relative;
    margin: 0 auto,
  }

  .boxSmWrapper {
    display: flex;
    width: 100%;
    gap: 48px;
    padding: 64px;
  }

  .productHero {
    height: 80vh;
    /* border: 1px black solid; */
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }

  .productHero > * {
    margin: 48px;
  }

  .boxLgTextOnly {
    height: 80vh;
    border: 1px black solid;

  }

  .boxLgWithObserver {
    height: 400vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 48px;
    
  }

  .boxLgWithObserver > * {
    flex-basis: 50%;
    flex-grow: 1;
    border: 1px black solid;
  }

  .observerTextPanel {
    height: 100vh;
    border: 1px red dashed;
  }

  .intersectionDiv {
    position: absolute;
    object-fit: cover;
    width: 100%;
  }

  .boxDetail {
    display: flex;
    flex-direction: column;
    height: 200px;
    gap: 32px;
    margin-top: 16px;
    width: 100%;
    flex-grow: 1;
  }

  .boxDetailElement {
    border: 1px black dashed;
    flex-grow: 1;
    width: 100%;
    padding: 8px;
  }

