.boxLgWithObserver {
    height: 400vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 48px;
    
  }
  
  .boxLgWithObserver > * {
    padding: 96px;
    flex-basis: 50%;
    flex-grow: 1;
    /* border: 1px black solid; */
  }
  
  .observerTextPanel {
    height: 100vh;
    /* border: 1px red dashed; */
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .observerTextDetail::first-line {
    font-weight: bold;
  }
  
  .observerTextPanel:first-of-type .observerTextDetail::first-letter {
    font-size: 4em; /* Adjust the font size as desired */
    float: left; /* Ensures that the letter takes up its own space */
    line-height: 1; /* Reset line height for the first letter */
    margin-right: 4px; /* Add some spacing to separate the first letter from the content */
  }
  
  .intersectionDiv {
    position: absolute;
    object-fit: cover;
    width: 100%;
    /* top: 10%; */
  }
  
  .productFullWidth {
    text-align: center;
    padding: 96px;
    color: white;
  }
  
  