
@import './variables.scss';

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,700&family=Optima:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,700&&display=swap");

@font-face {
  font-family: "Barbara";
  src: url("/assets/fonts/BarbaraBT-Regular.otf") format("opentype");
}

@font-face {
  font-family: "DIN";
  src: url("/assets/fonts/DIN.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "DIN";
  src: url("/assets/fonts/DIN Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "DIN";
  src: url("/assets/fonts/DIN Bold.ttf") format("truetype");
  font-weight: 600;
}

@mixin heading {
    font-family: 'Barbara';
}

@mixin serif {
    font-family: 'Optima';
}

@mixin sansserif {
  font-family: 'Inter';
}

:root {
  font-size: 16px;
}

h1 {
    @include serif();
    font-size: $baseline * 20;
    font-weight: 500;
    line-height: $baseline * 6;
}

h2 {
  @include heading();
  font-size: 3.6rem;
  font-weight: 800;
  margin-bottom: 0.2em;
}

h6 {
  @include sansserif();
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
}

h3 {
    @include heading();
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 0.2em;
}

h5 {
    @include sansserif();
    font-size: $baseline * 7;
    font-weight: 300;
    line-height: $baseline * 3;
    
}



p {
    @include serif();
    font-size: 1.2rem;
    font-weight: 300;
}

.tile-text {
  margin-top: 3em;
}