// Colors

$dark: #1a1a1a;
$light: #eee8e0;
$lightest: #f7f6f3;

$green: #467341;

$orange-light-1: #d0aa81;
$orange-light-2: #E3AE75;
$orange-mid-2: #cb8b46;

// Spacing

$width: 1440px;
$baseline: 4px;
$inset: $baseline * 6;

$space1: $baseline * 2;
$space2: $baseline * 3;
$space3: $baseline * 4;
$space4: $baseline * 5;
$space5: $baseline * 6;
$space6: $baseline * 7;
$space7: $baseline * 8;
$space8: $baseline * 9;
$space9: $baseline * 10;
$space10: $baseline * 11;

$margin: $space10; 

@function getGridWidth() {
    @return calc(min(#{$width}, 100vw) - 2 * #{$inset});
  }
  