.productPageNav {
    position: absolute;
    display: flex;
    top: 0;
    height: 50px;
    left: 0;
    right: 0;
    background-color: #00000050;


    color: white;
    align-items: center;
}

.productPageNavItem {
    padding: 16px;
}