.boxLg {
  margin-top: 64px;
  margin-bottom: 64px;
}


.flexChild {
  /* flex: 1 1 0; */
  height: 100%;
  width: 40%;
}

.boxLgWithSmCards {
  margin-top: 96px;
  margin-bottom: 96px;
  position: relative;
  width: 100%;
  /* margin: 0 auto; */
}


.productHero > * {
  padding: 48px;
}

.ProductHeroMainInfoLeft {
  
  padding: 16px;
}

.productHeroDescription {
  /* background-color: #041c04ce; */
  padding: 16px;

}

.boxLgTextOnly {
  height: 50vh;
  /* border: 1px black dashed; */
  padding: 48px;
}

.boxLgWithObserver {
  height: 400vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.boxLgWithObserver > * {
  flex-basis: 50%;
  flex-grow: 1;
  /* border: 1px black solid; */
}

.observerTextPanel {
  height: 100vh;
  /* border: 1px red dashed; */
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.observerTextDetail::first-line {
  font-weight: bold;
}

.observerTextPanel:first-of-type .observerTextDetail::first-letter {
  font-size: 4em; /* Adjust the font size as desired */
  float: left; /* Ensures that the letter takes up its own space */
  line-height: 1; /* Reset line height for the first letter */
  margin-right: 4px; /* Add some spacing to separate the first letter from the content */
}

.intersectionDiv {
  position: absolute;
  object-fit: cover;
  width: 100%;
  /* top: 10%; */
}

.boxDetail {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 32px;
  margin-top: 16px;
  width: 100%;
  justify-content: space-around;
  
  /* flex-grow: 1; */
}

.boxDetailElement {
  border: 1px black dashed;
  
  /* flex-grow: 1; */
  width: 100%;
  padding: 8px;
}

.productFullWidth {
  text-align: center;
  padding: 96px;
  /* background-color: #000; */
  /* margin-left: calc(-1 * var(--wrapper-margin));
  margin-right: calc(-1 * var(--wrapper-margin)); */
  color: white;
}

