.boxLg {
    margin-top: 64px;
    margin-bottom: 64px;
  }

.boxLgImageOnly {
  top: 0;
  margin: 0;
    position: relative;
    height: 80vh;
    width: 100%;
    transition: ease all 2s;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.90);
    /* padding: 96px; */
  }
  
  

  .boxSmWrapper {
    width: 100%;
    display: flex;
    gap: 48px;
    padding: 64px;
    justify-content: center;
    
  }
  
  .smallBox {
    color: black;
    min-height: 100px;
    min-width: 100px;
    
    /* border: 1px black solid; */
    border-radius: 50%;
    aspect-ratio: 1;
    /* background-color: #cb462f70; */
    padding: 40px;
    /* padding: 48px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center horizontally */
    text-align: center;
    /* margin-bottom: 48px; */
  
  }

  /* Buttons */

  .productButton {
    display: inline-block; 
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    border: 1px black solid;
    background-color: transparent; 
    color: black;
    /* width: 50%; */
    padding: 16px; 
    margin-top: 16px;
    transition: background-color 0.3s, color 0.3s; 
  }

  .productButton:hover {
    background-color: #00091b;
    color: white; 
  }

